@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Marcellus&display=swap');
$hover_color: #60391e;
$body-font: 'Inter', sans-serif;
$heading_font: 'Marcellus', serif;


p{
    font-family: $body-font;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
    font-family: $heading_font;
}
.container{
    max-width:1362px;
    margin: 0 auto;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header{
    padding: 15px 0px;
  }
  .navbar {
    ul{
        margin: 0px;
        padding: 0px;
        font-size: 0px;
        li{
            list-style: none;
            display: inline-block;
            padding: 0 25px;
            a{
                color: $hover_color;
                font-size: 16px;
                font-family: $body-font;
text-transform: uppercase;
                font-weight: 500;
                position: relative;
                transition: 0.4s;
                text-decoration: none;
                &:after{
                    content: '';
                    position: absolute;
                left: 0;
                width: 0%;
                height: 2px;
                background: $hover_color;
                transition: 0.4s;
                bottom: -5px;

                }
                &:hover{
                    transition: 0.4s;

&:after{
    transition: 0.4s;
    width: 100%;
}


                }
            }
            &:last-child{
                a{
                    border: 1px solid $hover_color;
                    padding: 13px 25px;
                    border-radius: 6px;
                    &::after{
                        display: none;
                    }
                    &:hover{
                        background: $hover_color;
                        color: #fff;
                    }
                }
            }
        }
    } 
  }
  img{
    max-width: 100%;
  }

  .banner-box{
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 0;
  }

  .banner-text{
    display: block;
    width: 33%;
    background: #fff;
    position: absolute;
    top: 100px;
    padding: 50px 70px;
    border-radius: 10px;
    box-shadow: 3px 11px 11px #f6f6f6;
    h1{
        font-size: 80px;
        color: $hover_color;
        margin: 0px;
        padding: 0px;
    }
    p{
        font-size: 28px;
        color: $hover_color;
        padding-bottom: 30px;
        
        b{
            font-size: 37px;
        }
    }
    a{
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        background: $hover_color;
        padding: 15px 50px;
        border-radius: 6px;
        text-decoration: none;
    }
  }

  .h2{
    font-size: 48px;
    color: $hover_color;
    display: block;
    margin: 0px;
    
  }
  .gallery-box{
    background: rgb(247,246,244);
    background: linear-gradient(180deg, rgba(247,246,244,1) 0%, rgba(247,246,244,1) 69%, rgba(255,255,255,1) 69%);
    padding-top: 200px;
  }
 
  .text-col{
    p{
        font-size: 22px;
        color: $hover_color;
        display: block;
        margin: 0p;
      }
      width: 100%;
      text-align: center;
      .sm-text{
        margin: 0 auto;
        font-size: 16px;
        color: #000;
        line-height: 31px;
        max-width: 89%;
      }
  }
  .image-gallery{
    padding-top: 150px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    width: 100%;
    .col-50{
        padding-top: 15px;
        width: 50%;
        text-align: center;
    }
    .col-25{
        width: 25%;
    }
    .col-25:first-child{
        text-align: right;
    }
    .col-25:last-child{
        padding-top: 130px;
    }
  }

  .gallery-img img {
    border-radius: 20px;
}

.catagries-box{
    padding-top: 120px;
    .cat{
        padding-top: 20px;
        h3{
            font-size: 26px;
            color: $hover_color;
            font-family: $body-font;
            font-weight: 500;
        }
    }
    .row{
        flex-wrap: wrap;
        .col-33{
            width: 33.333%;
        }
    }
}
.pb-40{
    padding-bottom: 40px;
}
.btn_primary{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: $hover_color;
    padding: 15px 50px;
    border-radius: 6px;
    text-decoration: none;
}
.mt-60{
    margin-top: 60px;
}

.h3{
    font-size: 39px;
    color: $hover_color;
    display: block;
    margin: 0px;
    
  }

  .acne-box{
    padding:80px 0;
    .row{
        gap: 15px;
        .col-50{
            width: 49.3334%;
        }
    }
    p{
        font-size: 16px;
        color: #000;
        line-height: 30px;
    }
  }

